#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("ABOUT.jpg") center/cover fixed;
}

#about .container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 25px;
    width: 70%;
}

.btn-secondary {
    color: #fff;
    background: #ff7200;
    margin-top: 2rem;
}

#about .title {
    text-align: center;
    margin-bottom: 4rem;

}

#about h2, #offers h2, #menu #title h2, #gallery h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#about h2, #menu #title h2 {
    color: #ff7200;
    font-size: 4rem;
}

#about .title p, #menu #title p:nth-child(1){
    color: #9a9a9a;
    font-weight: 600;
    font-size: 17.3px;
}

#about .about-content div {
    opacity: 0;
}

#about .about-content div.show {
    animation: slideUp 1s ease-out forwards;
}

#about .about-content {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
}

.about-content img.show {
    width: 400px;
    border-radius: 10%;
    animation: slideUp 1s ease-out forwards;
}

.about-content img {
    width: 400px;
    border-radius: 10%;
    opacity: 0;
}

#about .about-content p {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1rem;
    border-radius: 3%;

}

#about .about-content p strong {
    color: #ff7200;
}